.Editor {
  display: block;
  width: 70%;
  position: absolute;
  left: 30%;
  height: 100%;
  top: 40px;
  padding: 10px 15px 15px;
}

.Editor-date {
  text-align: center;
  font-size: 11px;
  padding-bottom: 7px;
}

textarea {
  width: 100%;
  height: 100%;
  border: 0px;
  font-size: 12px;
}

textarea:focus {
  outline: 0 !important;
}
