:local(.icon) {
  width: 28px;
  display: inline-block;
  text-align: center;
}

:local(.folder) {
  font-size: 16px;
  padding: 6px 0;
}

:local(.selected) {
  composes: folder;
  background: #4d4df5;
  color: #fff;
}

:local(.active) {
  composes: folder;
  background: #545455;
  color: #fff;
}