:local(.note) {
  padding: 14px 10px;
  border-bottom: 1px solid rgba(0,0,0,.07);
}

:local(.active) {
  composes: note;
  background-color: #f5f5f5;
}

:local(.selected) {
  composes: note;
  background-color: #ebe85b;
}

:local(.title) {
  font-weight: bold;
  font-size: 14px;
  margin: 0 0 7px; 
}

:local(.subtitle) {
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
  margin: 0;
}

:local(.date) {
  font-size: 12px;
  margin: 0 13px 0 0;
}