:local(.bar) {
  width: 100%;
  min-height: 35px;
  height: auto;
  border-bottom: 1px solid rgba(0,0,0,.07);
  font-size: 12px;
  padding: 7px 15px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:local(.input) {
  display: inline-block;
  width: 80%;
  height: 100%;
  /* border: 0px; */
  font-size: 12px;
}

:local(.input:focus) {
  outline: 0 !important;
}

:local(.replace) {
  display: inline-block;
  margin-left: 20px;
}

:local(label) {
  margin-left: 2px;
}

:local(button) {
  margin-left: 6px;
}

:local(.hidden) {
  margin-top: 6px;
  display: none;
}

:local(.visible) {
  margin-top: 6px;
  display: block;
}
