.Sidebar {
  display: block;
  width: 30%;
  position: absolute;
  left: 0;
  height: 100%;
  top: 40px;
  border-right: 1px solid rgba(0,0,0,.07);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}